* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffd3f2;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 30px;
    justify-content: center;
}

/* El cuerpo de la tarjeta GLOBAL */

form {
    background: rgb(255, 255, 255);
    padding: 60px;
    width: 500px;
    height: 705px;
    border-radius: 20px;
    text-align: center;
    margin: 140px auto;
    outline: none;
    border: black 0.5px solid;
    color: #da6fba
}

/* Boton para subir una sesión de usuario */

.submit-bttn {
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
    
}

.submit-bttn button {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    background: #ffb8ea;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.submit-bttn button:hover {
    color: #000000;
    border-color: #ffd3f2;
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 185, 255, 0.868);
}

/* Estilo de el boton de regresar GOLBAL */

.regresar {
    background: #ffb8ea;
    color: #000000;
    border: 1px solid #d6bbce;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
}

.regresar:hover {
    background: #ffd3f2;
    border-color: #ffd3f2;
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 185, 255, 0.868);
}

/* Apartado del texto en donde se indica en donde va el Nombre,Usuario y Contraseña. */

.User-text{
    padding: 10px auto;
}

/*Estilo del nombre de usuario GOLBAL */

.username {
    margin: 30px auto;
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border: 1.9px solid #ffc7f8;
    outline: none;
    font-size: 18px;
    transition: 0.8s
}

.username:hover {
    opacity: 80%;
    background: #ffd3f2;
    color: #000000;
    border-color: #ffffff;
    padding: 15px 20px;
}

/* Estilo de la contraseña GLOBAL */

.password {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border: 1px solid #ffc7f8;
    outline: none;
    font-size: 18px;
    transition: 0.8s;
}

.password:hover {
    padding: 15px 20px;
    opacity: 80%;
    background-color:#ffd3f2;
    color: #000000;
    border-color: #ffffff
}

/* Nombre del usuario (SOLO REGISTER) */

.name {
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border: 1px solid #ffc7f8;
    outline: none;
    font-size: 18px;
    transition: 0.8s
}

.name:hover {
    padding: 15px 20px;
    opacity: 80%;
    background-color:#ffd3f2;
    color: #000000;
    border-color: #ffffff
}

/* Cambiar el color del texto placeholder - En caso de nesecitar quitarlo solo borrar esta parte del codigo. */

.form input::placeholder {
  color: #462443;
  opacity: 1;
}

.resgis-txt {
    text-decoration: none;
    color:#da6fba;
    transform: translate(-85px,20px);
    transition: 0.8s;
    font-size:17px;
    margin:auto;
    cursor: pointer;
    font-weight: bold;
}

.resgis-txt:hover {
    color:#ffd3f2;
    transform: scale(1.02)
}