*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #FFD7F1;
        color:#f171ca ;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
}

.navbar {
    padding: 45px;
    box-sizing: 10px;   
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    background: #ffffff ;
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 32px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Index {
    list-style-type: none;
    position:fixed;
    top:41px;
    left: 540px;
    text-decoration:none;
    color:#ffffff
}

.Info {
    
}

.box-I {
    padding: 10px;
    background-color: #FFD7F1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}

.PP-default {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    top: 35px;
    left: 675px;
}

.Titulos {
    text-align: center;
    min-height: 25cm ;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-text {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 100px;
}

