*{
    margin: 10;
    justify-content: center;
    padding: 10px;
}

body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background:  #ffeff7;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
    }

.navbar {
    padding: 10px;
    box-sizing: 10px;
    min-height: 60cm;
    box-sizing: border-box;
    border-radius: 20px;
    

}

.titulos {
    text-align: start;
    min-height: 25cm ;
}

.content-text {
    justify-content: left;
    align-items: unset;
    display: flex;
    box-sizing: border-box;
    padding: 100px;
}